html{
    width: 1600px;
}
.header{
    display: flex;
    flex-direction: column;
    background-image: url(bg_9.jpg);
    height: 750px;
}
.h0{
   
    font-size: 36px;
    color: #e0e0e0;
    font-weight: 400;
    font-family: "Yeseva One";
    margin-top: 30px;
  
}
.menu{
    display: flex;
    flex-direction: row;
    height: 110px;
}
.links{
    margin-top: 50px;
    width: 81px;
    height: 21px;
    margin-left: 30px;
}
.decor{
    width: 232px;
    height: 43px;
    margin-left: 675px;
    margin-top: 25px;
}
.img{
    display: flex;
   background-image: url(logo_-_image.png);
    margin-left: 175px;
    margin-top: 13px ;
    width: 128px;
    height: 92px;
}
.dws-ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: "Gentium Book Basic";
    width: 710px;
    height: 73px;
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    justify-content: space-between;
    padding: 0px;
    margin-left: 290px;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 21px;
    box-sizing: border-box;
}
.dws-li {
 list-style: none;
 width: auto;
 height: 50px;
 margin-top: 20px;
 color: #ffffff;

}
.dws-li a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}
.dws-li:hover{
 background-color: #e5eae8;
 opacity: 70%;

}
.h1{
    text-align: center;
    font-size: 90px;
    color: #ffffff;
    font-family: "Yeseva One";
    filter: drop-shadow(0.469px 0.883px 1px rgba(1,1,1,0.64));
    padding-top: 90px;
    margin-left: 0px;
    
    margin-bottom: 0px;
}

.ul2{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: "Gentium Book Basic";
    width: 710px;
    height: 73px;
    font-size: 21px;
    color: #ffffff;
    margin-left: 545px;
}
.li2 {
 list-style: none;
 width: auto;
 height: 50px;
 margin-top: 20px;

}
.li2 a{
 text-decoration: none;
 color: white
 ;
}
.li2:hover{
 background-color:black;
 opacity: 70%;

}

.ul2{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.li2{
    width: 207px;
    height: 49px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}
.h2{
    width: 432px;
    height: 47px;
    font-size: 36px;
    color: #cc9900;
    font-family: "Yeseva One";
    text-align: center;
}
.p1{
    width: 432px;
    height: 130px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}
.section1{
    display: flex;
    background-image: url(background_3.png);
    flex-direction: row;
    border:#cc9900;
    height: 710px;
    padding-left: 285px;
    padding-right: 280px;
}
.sec11{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.divi{
    width: 247px;
    height: 24px;
}
.rosp{
    margin-top: 30px;
    width: 219px;
    height: 221px;
    margin-left: 30px;
}
.sec12{
    width: 568px;
    height: 587px;
    align-self: center;
    padding-left: 70px;
}
.h8{
    font-size: 36px;
    color: #ffffff;
    font-family: "Yeseva One";
    margin: 0px;
    height: 47px;
}
.p2{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Lato";
    text-align: center;
}
.section2{
    display: flex;
    background-image: url(bg_7.png);
    height: 758px;
}
.sec2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:815px ;
    margin-right: 215px;
    align-self: center;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing:border-box;
    
    background: rgba(0, 0,0, 0.5);
    padding-left: 70px;
    padding-right: 70px;
    background-position: bottom;
    font-family: "Yeseva One";
   
}
.img2{
    display: flex;
    flex-direction: row;
    width: 430px;
    height: 110px;
    justify-content: space-around;
    padding-top: 65px;
}
.divi2{
    width:247px;
    height: 24px;
    padding-top: 15px;
}
.section3{
    background-image: url(background_3.png);
    display: flex;
    flex-direction: row;
    height: 995px;
    justify-content: space-around;
    
}
.section4{
    display: flex;
    flex-direction: column;
    background-image: url(bg_3.png);
    height: 758px;
}
.divi10{

    padding-left: 100px;
}
.h5{
   margin-bottom: 15px;
    font-size: 36px;
    color: #ffffff;
    font-family: "Yeseva One";
    text-align: center;
    margin-top:0px;
}
.p4{
    width: 630px;
    height: 327px;
    font-size: 25px;
    line-height: 45px;
    color: #dde0df;
    font-weight: 700;
    font-family: "Gentium Book Basic";
    text-align: center;
}
.p5{
    font-family: "lato";
    font-size: 18px;
    color: white;
}
.guest{
    background: rgba(0, 0,0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    box-sizing:border-box;
    margin-left:450px ;
    margin-right: 450px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 70px;
    padding-right: 70px;
    height: 558px;
    margin-top: 100px;
}
.app_salad{
    margin-top:70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 180px;

}
.start{
    
    width: 430px;
    height: 270px;

}
.maindish{
    
    width: 430px;
    height: 460px;

}
.salads{
   
    width: 430px;
    height: 360px;
   

}
.apper{

    width: 430px;
    height: 380px;
}
.start_main{
    display: flex;
    flex-direction: column;
    margin-top:70px ;
   
    margin-right: 180px;
 
}
.ul3{
    list-style: none;

}
.ul4{
    list-style: none;

}
.ul5{
    list-style: none;

}
.ul6{
    list-style: none;

}
.h4{
    font-size: 36px;
    line-height: 24px;
    color: #cc9900;
    font-family: "Yeseva One";
    text-align: center;
    margin-bottom: 30px;
}
.p3{
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    font-family: "Yeseva One";
    text-align: left;
}   
.p10{
    font-family: "lato";
    line-height: 24px;
    font-size: 17px;
    padding-bottom: 20px;
}
.coins{
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    font-family: "Yeseva One";
    text-align: right;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}
.hr{
    width: 400px;
    color: #c89f2d;
    
}
.section5{
    background-image: url(background_3.png);
    height: 710px;
    display: flex;
    flex-direction: row;
}
.img30{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 570px; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
}
.part2{
    display:flex ;
    flex-direction: column;
    margin-right: 275px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.h6{
    height: 47px;
    font-size: 36px;
    line-height: 24px;
    color: #cc9900;
    font-family: "Yeseva One";
    text-align: center;
    margin: 0px;
}
.divi5{
    margin-left: 90px;
}
.p6{
    width: 432px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: "Lato";
    text-align: center;
}
.all{
    margin-top: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 210px;
    padding-right: 280px;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: #191919;
}
.about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open_hours{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.locat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pf1{
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}  
.hf{
    font-family: "Yeseva One";
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    margin: 10px;
    color: #ffffff;
} 
.imgf{
    margin-top: 30px;
}
.imgf1{
    margin-top: 30px;
}
.linkwith{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.all{
    display: flex;
    flex-direction: column;

}
.name_email{
    display: flex;
    flex-direction: row;
   
}
.date_party{
    display: flex;
    flex-direction: row;
   
}
.name{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.email{
    display: flex;
    flex-direction: column;
}
.date{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.party{
    display: flex;
    flex-direction: column;

}
.buttons{
    display: flex;
    justify-content: center;
   position: relative;
}
.p30{
    width: 76px;
height: 17px;
font-size: 16px;
color: #c9a131;
font-weight: 700;
font-family: "Open Sans";
}
.p31{
    width: 137px;
height: 17px;
font-size: 16px;
color: #c9a131;
font-weight: 700;
font-family: "Open Sans";
}

input#name{
    width: 200px;
    height: 35px;
    border-color: #c89f2d;
    border: #c89f2d;
    font-style: italic;
    font-family: "Open Sans"; 
    font-size: 16px;
    color: #908e8e;
}
input#email{
    font-size: 16px;
    width: 200px;
    height: 35px;
    border-color: rgba(135, 133, 135, 0.067);
    font-style: italic;
    font-family: "Open Sans";
    color: #908e8e;

}
input#date{
    font-size: 16px;
    width: 200px;
    height: 35px;
    border-color:  rgba(135, 133, 135, 0.067);
    font-style: italic;
    font-family: "Open Sans";
    color: #908e8e;
}
.partyy{
    font-size: 16px;
    width: 200px;
    height: 40px;
    border-color:  rgba(135, 133, 135, 0.067);
    font-style: italic;
    font-family: "Open Sans";
    color: #908e8e;
}

input#buttons{
    width: 200px;
    height: 35px;
    background-color: #c9a131;
    border:0cm;
    font-family:"Open Sans" ;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}
